/* Adjusting html, body, and H tags for stlye */
/*------------------------------------------------------*/
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: lightblue;
}

body {
  height: 95%;
  width: 100%;
  margin: 0px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 5px;
}

/*------------------------------------------------------*/

#grid {
  height: 90%;
  width: 90%;

  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

#nav {
  /* basic design */
  background-color: #f98080;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;

  /* Flexbox stuff*/
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/

  /* Grid placement*/
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#foot {
  /* basic design */
  background-color: #dc7bdc;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 5px;

  /* Flexbox stuff*/
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/

  /* Grid placement*/
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* Sidebar layout */

#side {
  /* basic design */
  background-color: #60a560;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;

  /* Grid placement*/
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

/* Embeded Grid inside of sidebar */
#side {
  display: grid;
  grid-template-rows: 15% 40% 40%;
  grid-gap: 5px;
}

#side h2 {
  align-self: center;
}

#recent1 {
  /* basic design */
  background-color: #f98080;
  border: 2px solid red;
  border-radius: 5px;

  /* Grid placement*/
  grid-row: 2 / 3;
}

#recent2 {
  background-color: #80c1fb;
  border: 2px solid blue;
  border-radius: 5px;

  /* Grid placement*/
  grid-row: 3 / 4;
}


/* Main layout */

#main {
  /* basic design */
  background-color: #ffcf77;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;

  /* Grid placement*/
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

/* Embeded Grid inside of main */
/*#main {
  display: grid;
  grid-template-rows: ;
  grid-template-columns: ;
}

#main h1 {
  align-self: center;
}*/

#article1 {
  /* basic design */
  background-color: #80c1fb;
  border: 2px solid blue;
  border-radius: 5px;

  /* Grid placement*/
  grid-row: ;
  grid-column: ;
}

#article2 {
  background-color: #80dc7b;
  border: 2px solid green;
  border-radius: 5px;

  /* Grid placement*/
  grid-row: ;
  grid-column: ;
}
